<div	class="center	jumbotron">
	<h1>Welcome	to	TechPro254</h1>
		<h4>
			How much do you know about Technology? <br>
    			<a	href="http://www.railstutorial.org/">Click Here</a>
			to Test yourself, You just might surprise yourself!
		</h4>
<h3>
    <%=	link_to	"Sign up now!", users_new_path, class: "btn btn-lg btn-info" %> or <%=	link_to	"LogIn", static_pages_LogIn_path, class: "btn btn-lg btn-default" %> 
</h3>    
</div>
<!--<	link_to	image_tag("logo.jpg", alt: "Rails	logo"), 'http://rubyonrails.org/' %>-->

<h1 class="page-header" text-center> Simple Example</h1>

<div class='row'>
  <div class='col-sm-4'><div class="well">W3Schools is optimized for learning, testing, and training.
   Examples might be simplified to improve reading and basic understanding. Tutorials,
    references, and examples are constantly reviewed to avoid errors, but we cannot warrant
     full correctness of all content. While using this site, you agree to have read and accepted
      our terms of use, cookie and privacy policy. Copyright 1999-2015 by Refsnes Data. All Rights Reserved.
      </div>
    </div> 
  <div class='col-sm-4'><div class="well">W3Schools is optimized for learning, 
  testing, and training. Examples might be simplified to improve reading and basic understanding.
   Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot
    warrant full correctness of all content. While using this site, you agree to have read and 
    accepted our terms of use, cookie and privacy policy. Copyright 1999-2015 by Refsnes Data. All Rights Reserved.
    </div>
  </div>
  <div class='col-sm-4'><div class="well">W3Schools is optimized for learning, testing, and training. Examples 
  might be simplified to improve reading and basic understanding. Tutorials, references, and   
  examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
  While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. 
  Copyright 1999-2015 by Refsnes Data. All Rights Reserved.
    </div>
  </div>
</div>

