@import "bootstrap-sprockets";
@import "bootstrap";

/* universal*/
body {
    padding-top: 70px;
    background-image: url('4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;  
}

#navright {
	color: black;
	
}

#navright:hover {
	color: blue;
}

logopic {
	float: left;
}

#form-group {
	align: center;
}
    
/* topography */
h1, h2 {
    letter-spacing: -2px;
}

/* logo */

#logo	{
		float:	left;
		margin-right:	10px;
		font-size:	1.7em;
		color: black;
		letter-spacing:	-1px;
		padding-top:	9px;
		font-weight:	bold;
}
#logo:hover	{
		color:	blue;
		text-decoration:	none;
}

@mixin	box_sizing	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing:	border-box;
		box-sizing:	border-box;
}

.navbar {
    background-color: rgba(0, 195,255, .40) !important;
}

/*	footer	*/

footer	{
		background-color: grey;
		margin-top:	45px;
		padding-top:	5px;
		border-top:	1px	solid	#eaeaea;
		color:	#777;
}
footer	a	{
		color:	#555;
}
footer	a:hover	{
		color:	#222;
}
footer	small	{
		float:	left;
}
footer	ul	{
		float:	right;
		list-style:	none;
}
footer	ul	li	{
		float:	left;
		margin-left:	15px;
}

/*	forms	*/
input,	textarea,	select,	.uneditable-input		{
	    border:	1px	solid	#bbb;
		width:	100%;
		margin-bottom:	15px;
		@include box_sizing;
}
input	{
		height:	auto	!important;
}

// error messege 
#error_explanation	{
 color:	red;
 ul	{ color: red;
	  margin: 0	0 30px 0;
  }
}
.field_with_errors	{
  @extend .has-error;
    .form-control {
	  color: $state-danger-text;
  }
}
