<footer	class="footer">
	<small>
			<a	href="http://www.railstutorial.org/">TechPro254</a>
		by	<a	href="http://www.michaelhartl.com/">C.T.K</a>
	</small>
		<nav>
			<ul>
				<li><%=	link_to	"About", static_pages_About_path %></li>
				<li><%=	link_to	"Contact", "#" %></li>
				<li><a	href="http://news.railstutorial.org/">News</a></li>
			</ul>
		</nav>
</footer>